{% extends 'base.html.twig' %}

{% block title %}So'SerenityHome | Accueil{% endblock %}

{% block body %}

<div class="carousel-container">
  <div class="carousel">
    <div class="slide">
      <img src={{ asset('assets/image/carrousel/image4.jpg')}} alt="Image 1">
      <div class="slide-text">
        <h3>Titre de l'image 1</h2>
        <p>Description de l'image 1</p>
      </div>
    </div>
    <div class="slide">
      <img src={{ asset('assets/image/carrousel/image2.jpg')}} alt="Image 2">
      <div class="slide-text">
        <h3>Titre de l'image 2</h2>
        <p>Description de l'image 2</p>
      </div>
    </div>
    <div class="slide">
      <img src={{ asset('assets/image/carrousel/image3.jpg')}} alt="Image 3">
      <div class="slide-text">
        <h3>Titre de l'image 3</h2>
        <p>Description de l'image 3</p>
      </div>
    </div>
  </div>
<img src={{ asset('assets/image/fleche.png')}} class="prev-button" alt="Précédent">
<img src={{ asset('assets/image/fleche.png')}} class="next-button" alt="Suivant">
</div>

<script>
const carousel = document.querySelector('.carousel');
const prevButton = document.querySelector('.prev-button');
const nextButton = document.querySelector('.next-button');

let slideIndex = 0;
let slideCount = carousel.children.length;
let slideWidth = 0;

prevButton.addEventListener('click', () => {
  slideIndex--;
  if (slideIndex < 0) {
    slideIndex = slideCount - 1;
  }
  updateCarousel();
});

nextButton.addEventListener('click', () => {
  slideIndex++;
  if (slideIndex >= slideCount) {
    slideIndex = 0;
  }
  updateCarousel();
});

function updateCarousel() {
  carousel.style.transform = `translateX(-${slideIndex * slideWidth}px`;
}

function updateSlideWidth() {
  slideWidth = carousel.offsetWidth;
  updateCarousel();
}

window.addEventListener('resize', updateSlideWidth);
updateSlideWidth();
</script>








    
<iframe id="iframe" allow="fullscreen" 
src="https://app.superhote.com/#/get-available-rentals/QGxkGD8ET7vGr9ix8mglm7naI" 
style="display:block;" width="100%" height="1000"  frameborder="0" scrolling="auto"
sandbox="allow-scripts allow-forms allow-same-origin allow-presentation">
Moteur de réservation de superhote</iframe>

{% endblock %}