{% extends 'base.html.twig' %}

{% block title %}So'SerenityHome | {% trans %}Accueil{% endtrans %}{% endblock %}

{% block body %}
<!-- Carrousel -->
<div class="center-div carousel-container">
  <div class="carousel">
    <div class="slide">
      <img src={{ asset('assets/image/carrousel/mountain.jpg')}} alt="Image 1">
      <div class="slide-text text-center div-height img1-text-hauteur">
        <p class="font-26px text-yellow mb-4 font-carrousel1-phone">{% trans %}Votre séjour au centre de la Haute-Savoie avec{% endtrans %}</p>
        <img class="img-logo-carrousel" src={{ asset('assets/image/carrousel/lg.png')}} alt="So'SerenityHome">
        <p class="bold-600 font-60px text-yellow mt-4 font-carrousel2-phone">{% trans %}Sentez-vous chez vous !{% endtrans %}</p>
      </div>
    </div>
    <div class="text-right slide">
      <img src={{ asset('assets/image/carrousel/image2.jpg')}} alt="Image 2">
      <div class="slide-text">
        <h3>{% trans %}Titre de l'image 2{% endtrans %}</h2>
        <p>{% trans %}Description de l'image 2{% endtrans %}</p>
      </div>
    </div>
    <div class="text-right slide">
      <img src={{ asset('assets/image/carrousel/image3.jpg')}} alt="Image 3">
      <div class="slide-text">
        <h3>{% trans %}Titre de l'image 3{% endtrans %}</h2>
        <p>{% trans %}Description de l'image 3{% endtrans %}</p>
      </div>
    </div>
  </div>
<img src={{ asset('assets/image/fleche.png')}} class="prev-button" alt="Précédent">
<img src={{ asset('assets/image/fleche.png')}} class="next-button" alt="Suivant">
</div>

<script> 
  const carousel = document.querySelector('.carousel');
  const prevButton = document.querySelector('.prev-button');
  const nextButton = document.querySelector('.next-button');

  let slideIndex = 0;
  let slideCount = carousel.children.length;
  let slideWidth = 0;

  prevButton.addEventListener('click', () => {
    slideIndex--;
    if (slideIndex < 0) {
      slideIndex = slideCount - 1;
    }
    updateCarousel();
  });

  nextButton.addEventListener('click', () => {
    slideIndex++;
    if (slideIndex >= slideCount) {
      slideIndex = 0;
    }
    updateCarousel();
  });

  function updateCarousel() {
    carousel.style.transform = `translateX(-${slideIndex * slideWidth}px`;
  }

  function updateSlideWidth() {
    slideWidth = carousel.offsetWidth;
    updateCarousel();
  }

  window.addEventListener('resize', updateSlideWidth);
  updateSlideWidth();
</script>

<!-- Texte et icon -->
<div>
	<p class="text-center font-26px text-bluelight bold-700 mb-4 mt-5 font-phone">{% trans %}Notre priorité : vous apporter confort, plaisir et facilité en choisissant nos logements{% endtrans %}</p>		
</div>

<div>
	<p class="text-center font-26px text-bluelight bold-700 mb-5 font-phone">{% trans %}Pourquoi choisir nos appartements au lieu d’une chambre d'hôtel :{% endtrans %}</p>		
</div>
<div class="item-center text-center px-xl-5 same-line warp-phone">
  <div class="margin-center same-line warp-phone">
    <div class="">
        <img class="size-img-accueil" src="{{ asset('assets/image/24h24h.png')}}">
        <p class="line-2px font-26px text-yellow bold-600">{% trans %}Arrivée à votre convenance{% endtrans %}</p>
        <p class="font-16px text-bluelight">{% trans %}Mise à disposition d’une boite à clés sécurisée{% endtrans %}</p>
    </div>
    <div class="">
        <img class="size-img-accueil" src="{{ asset('assets/image/fourchette.png')}}">
        <p class="line-2px font-26px text-yellow bold-600">{% trans %}Equipé tout confort{% endtrans %}</p>
        <p class="font-16px text-bluelight">{% trans %}Tout le matériel comme à la maison{% endtrans %}</p>
    </div>
    <div class="">
        <img class="size-img-accueil" src="{{ asset('assets/image/wifi.png')}}">
        <p class="line-2px font-26px text-yellow bold-600">{% trans %}WIFI / Netflix{% endtrans %}</p>
        <p class="font-16px text-bluelight">{% trans %}WIFI et Netflix gratuits dans chaque appartement{% endtrans %}</p>
    </div>
    <div class="">
        <img class="size-img-accueil" src="{{ asset('assets/image/serviette.jpg')}}">
        <p class="line-2px font-26px text-yellow bold-600">{% trans %}Services hoteliers{% endtrans %}</p>
        <p class="font-16px text-bluelight">{% trans %}Kit d’accueil et linge de maison fournis{% endtrans %}</p>
    </div>
  </div>
</div>

<!-- Iframe SuperHote -->
<iframe id="iframe" allow="fullscreen" 
{% trans %}src="https://app.superhote.com/#/get-available-rentals/QGxkGD8ET7vGr9ix8mglm7naI"{% endtrans %} 
style="display:block;" frameborder="0" scrolling="auto"
sandbox="allow-scripts allow-forms allow-same-origin allow-presentation">
{% trans %}Moteur de réservation de superhote{% endtrans %}</iframe>

{% endblock %}