<!-- Carrousel -->
<div class="center-div carousel-container">
  <div class="carousel">
    <div class="slide">
      <img src={{ asset('assets/image/carrousel/mountain.jpg')}} alt="Image 1">
      <div class="slide-text text-center div-height img1-text-hauteur">
        <p class="font-26px text-yellow mb-4">Votre séjour au centre de la Haute-Savoie avec</p>
        <img class="img-logo-carrousel" src={{ asset('assets/image/carrousel/lg.png')}} alt="So'SerenityHome">
        <p class="bold-600 font-60px text-yellow mt-4">Sentez-vous chez vous !</p>
      </div>
    </div>
    <div class="text-right slide">
      <img src={{ asset('assets/image/carrousel/image2.jpg')}} alt="Image 2">
      <div class="slide-text">
        <h3>Titre de l'image 2</h2>
        <p>Description de l'image 2</p>
      </div>
    </div>
    <div class="text-right slide">
      <img src={{ asset('assets/image/carrousel/image3.jpg')}} alt="Image 3">
      <div class="slide-text">
        <h3>Titre de l'image 3</h2>
        <p>Description de l'image 3</p>
      </div>
    </div>
  </div>
<img src={{ asset('assets/image/fleche.png')}} class="prev-button" alt="Précédent">
<img src={{ asset('assets/image/fleche.png')}} class="next-button" alt="Suivant">
</div>

<script>
const carousel = document.querySelector('.carousel');
const prevButton = document.querySelector('.prev-button');
const nextButton = document.querySelector('.next-button');

let slideIndex = 0;
let slideCount = carousel.children.length;
let slideWidth = 0;

prevButton.addEventListener('click', () => {
  slideIndex--;
  if (slideIndex < 0) {
    slideIndex = slideCount - 1;
  }
  updateCarousel();
});

nextButton.addEventListener('click', () => {
  slideIndex++;
  if (slideIndex >= slideCount) {
    slideIndex = 0;
  }
  updateCarousel();
});

function updateCarousel() {
  carousel.style.transform = `translateX(-${slideIndex * slideWidth}px`;
}

function updateSlideWidth() {
  slideWidth = carousel.offsetWidth;
  updateCarousel();
}

window.addEventListener('resize', updateSlideWidth);
updateSlideWidth();
</script>



<!-- Texte et icon -->
<div>
	<p class="text-center font-26px text-bluelight bold-700 mb-4 mt-5">Notre priorité : vous apporter confort, plaisir et facilité en choisissant nos logements</p>		
</div>

<div>
	<p class="text-center font-26px text-bluelight bold-700 mb-5">Pourquoi choisir nos appartements au lieu d’une chambre d'hôtel :</p>		
</div>
<div class="margin-center text-center  px-xl-5 same-line">
    <div class="center-div ">
        <img class="size-24h" src="{{ asset('assets/image/24h24h.png')}}">
        <p class="line-2px font-26px text-yellow bold-600">Arrivée à votre convenance</p>
        <p class="font-16px text-bluelight">Mise à disposition d’une boite à clés sécurisée</p>
    </div>
    <div class="center-div ">
        <img class="size-fourchette" src="{{ asset('assets/image/fourchette.png')}}">
        <p class="line-2px font-26px text-yellow bold-600">Equipé tout confort</p>
        <p class="font-16px text-bluelight">Tout le matériel comme à la maison</p>
    </div>
    <div class="center-div ">
        <img class="size-wifi" src="{{ asset('assets/image/wifi.png')}}">
        <p class="line-2px font-26px text-yellow bold-600">WIFI / Netflix</p>
        <p class="font-16px text-bluelight">WIFI et Netflix gratuits dans chaque appartement</p>
    </div>
    <div class="center-div ">
        <img class="size-serviette" src="{{ asset('assets/image/serviette.jpg')}}">
        <p class="line-2px font-26px text-yellow bold-600">Services hoteliers</p>
        <p class="font-16px text-bluelight">Kit d’accueil et linge de maison fournis</p>
    </div>
</div>

<!-- Iframe SuperHote -->
<iframe id="iframe" allow="fullscreen" 
src="https://app.superhote.com/#/get-available-rentals/QGxkGD8ET7vGr9ix8mglm7naI" 
style="display:block;" width="100%" height="1000"  frameborder="0" scrolling="auto"
sandbox="allow-scripts allow-forms allow-same-origin allow-presentation">
Moteur de réservation de superhote</iframe>