<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}So'SerenityHome{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    

    <!-- Customized Bootstrap Stylesheet -->

    <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">

    <link href="{{ asset('assets/js/bootstrap.min.js')}}" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="/accueil">Accueil</a>
                    <span class="text-dark px-2">|</span>
                    <a class="text-dark" href="/appartements">Tout nos appartements</a>
                    
                    {% if is_granted('ROLE_ADMIN') %}
                    <span class="text-dark px-2">|</span>
                    <a class="text-dark" href="/admin">Page d'administration</a> 
                    {% endif %}

                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    {% if app.user %}
                        <a class="text-dark" href="{{ path('app_utilisateur_show', {'id': app.user.id}) }}">{{ app.user.nom }}</a>
                        <span class="text-dark px-2">|</span>
                        <a class="text-dark" href="/logout">Se déconnecter</a>
                    {% else %}
                        <a class="text-dark" href="/connexion">Se connecter</a>
                        <span class="text-dark px-2">|</span>
                        <a class="text-dark" href="/inscription">S'inscrire</a>
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    {% block body %}
    {% endblock %}

    <!-- Footer Start -->
    <div class="container-fluid bg-trois text-dark mt-5 pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="/accueil"><img src= {{asset('assets/image/logo-blanc.png')}} width=360px height=197px></a>
            </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-yellow mb-4">Plan du site</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="/accueil"><i class="fa fa-angle-right mr-2"></i>Accueil</a>
                            <a class="text-dark mb-2" href="/appartements"><i class="fa fa-angle-right mr-2"></i>Tout nos appartements</a>
                        </div>
                    </div>


                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-yellow mb-4">Contact</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="fa fa-angle-right mr-1">+ 33 6 84 64 25 86</a>
                            <a class="fa fa-angle-right mr-1">contact@so-serenityhome.fr</a>
                            <a class="fa fa-angle-right mr-1">30 Avenue de la libération | 74300 Cluses</a>
                        </div>
                    </div>
            <a class="fa fa-angle-right mr-2">SO'SERENITYHOME 2020 © TOUS DROITS RÉSERVÉS</a>
        </div>
    </div>
    <!-- Footer End -->

</body>

</html>