<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}So'SerenityHome{% endblock %}</title>

    <link rel="icon" type="image/jpg" href="{{ asset('assets/image/logo.png') }}" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    
    <!-- Customized Bootstrap Stylesheet -->

    <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">

    <link href="{{ asset('assets/js/bootstrap.min.js')}}" rel="stylesheet">

    <link href="{{ asset('assets/css/style.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/css/style2.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/js/script.js')}}" rel="stylesheet">
</head>

<body class="">
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white font-12px">+ 33 6 84 64 25 86</a> 
                    <span class="px-2"></span>
                    <a class="text-white font-12px">so.serenityhome@gmail.com</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-blanc center-div">
        <div class="center-div row py-3 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a href="/accueil"><img src= {{asset('assets/image/logoLong.png')}} width=172px height=94px></a>
                </div>
            </div>
            <div class="center-div col-lg-6 text-lg-right py-3">
                <div class="d-inline-flex align-items-center">

                    {% if is_granted('ROLE_ADMIN') %}
                        <button type="button" class="button-toolbar" onclick="window.location.href = '/admin';">Administration</button>
                        <span class="text-blue px-2"></span>
                    {% endif %}
                    {% if app.user %}
                        <button type="button" class="button-toolbar" onclick="window.location.href = '{{ path('app_utilisateur_show', {'id': app.user.id}) }}'">{{ app.user.nom }}</button>
                        <span class="text-blue px-2"></span>
                        <button type="button" class="button-toolbar" onclick="window.location.href = '/logout';">Se déconnecter</button>
                    {% else %}
                        <button type="button" class="button-toolbar" onclick="window.location.href = '/connexion';">Se connecter</button>
                        <span class="text-blue px-2"></span>
                        <button type="button" class="button-toolbar" onclick="window.location.href = '/inscription';">S'inscrire</button>
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    {% block body %}
    {% endblock %}

    <!-- Footer Start -->
    <div class="container-fluid bg-trois">
        <div class="row px-xl-5">
            <div class="col-lg-4 col-md-12 mb-5 pt-2 ml-5 center">
                <a href="/accueil"><img src= {{asset('assets/image/logo-blanc.png')}} width=360px height=197px></a>
            </div>

            <div class="col-md-3 mb-5 pt-5">
                <h5 class="font-weight-bold text-yellow mb-4 center">Plan du site</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="/accueil"><i class="fa fa-angle-right mr-2"></i>Accueil</a>
                </div>
            </div>

            <div class="col-md-3 mb-5 pt-5">
                <h5 class="font-weight-bold text-yellow mb-4">Contact</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="fa fa-angle-right text-white mr-1">+ 33 6 84 64 25 86</a>
                    <a class="fa fa-angle-right text-white mr-1">contact@so-serenityhome.fr</a>
                    <a class="fa fa-angle-right text-white mr-1">30 Avenue de la libération | 74300 Cluses</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-trois border-yellow pt-3 pr-3 pl-3 pb-3">
        <a class="text-white">SO'SERENITYHOME 2020 © TOUS DROITS RÉSERVÉS</a>
    </div>
    <!-- Footer End -->

</body>

</html>